<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink=''>
    Giphy <span class="text-danger">APP</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <ng-template
        *ngIf="loggedUser.data; then menu; else login">
      </ng-template>
      <ng-template #login>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ng-template>
      <ng-template #menu>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/giphies/list">List</a>
            <a class="dropdown-item" href="/giphies/add">Add Giphy</a>
            <a class="dropdown-item" href="/chat">Chat of Masters</a>
            <a class="dropdown-item" href="/edit-profile">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout($event)">Logout</a>
          </div>
        </li>
      </ng-template>
    </ul>

    <div *ngIf="loggedUser.data" class="navbar-mastername float-right">
      Welcome Master {{ loggedUser.data.masterName }}
      <img [src]="loggedUser.data.avatar">
    </div>
  </div>
</nav>