<footer class="footer row mt-5">
    <div class="container mt-5">
      <div class="row ">
        <div class="col-md-12 text-center">
          <h1>Giphy<strong>APP</strong></h1>
          <h4>Disfruta de los mejores GIFs</h4>
          <h4>Special thanks to: Consejo Jedi, Garcilaso, Kraken, Otto, Markes, Domador y Predator</h4>
          <p class="social-icons-header">
              <a href="facebook.com"><i class="fab fa-facebook-f"></i></a>
              <a href="facebook.com"><i class="fab fa-twitter"></i></a>
              <a href="facebook.com"><i class="fab fa-instagram"></i></a>
              <a href="facebook.com"><i class="fab fa-linkedin-in"></i></a>	
          </p>
        </div>
        <div class="col-md-12 text-center mt-2 mb-1">
          <h6 class="">Diseñado por <span style="color: red;">❤</span> by <a href="http://www.pornhub.com">PREDATOR</a> </h6>
        </div>
      </div>
    </div>
  </footer> 