
/*
* General Styles
*/
html,body{
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url('/images/consejo-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    font-family: 'Numans', sans-serif;
    color: white;
}

#content {
    margin-top: 80px;
}

.card {
    color: white;
}


/*
* Loders
*/
.static-loader {
    width: 50px;
    height: 50px;
    margin: auto;
    background-image: url('/images/static-loader.svg');
    background-size: contain;
}


/*
* Footer
*/
footer {
    margin-top: 20px;
}
footer a {
    color: white;
}


/*
* Searcher
*/
.searcher {
    margin: 2vw 0;
}
.search-wrapper {
    text-align: center;
    width: 100%;
}
#q {
    border: 1px solid transparent;
    width: 80%;
    height: 9vh;
    min-height: 30px;
    font-size: 5vh;
    text-indent: 1vw;
    border-radius: 5px;
}
.btn-search {
    background-color: #51ce00;
    border-color: #51ce00;
    height: 9vh;
    min-height: 30px;
}
.btn-search:hover {
    color: #51ce00;
    background-color: #fff;
    border-color: #fff;
}


/*
* Custom Styles
*/
.text-border {
    color: white;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}