
/*
* General Styles
*/
html,body{
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url('/images/consejo-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    font-family: 'Numans', sans-serif;
    color: white;
}

#content {
    margin-top: 80px;
}

.card {
    color: white;
}


/*
* Loders
*/
.static-loader {
    width: 50px;
    height: 50px;
    margin: auto;
    background-image: url('/images/static-loader.svg');
    background-size: contain;
}

/*
* Nav Links
*/
.navbar {
    padding: 0 !important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #51ce00 !important;
}

.navbar-avatar img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: lightgray;
    border: 2px solid darkgray;
    margin-left: 20px;
    margin-right: 10px;
    -webkit-transition: border 0.4s;
            transition: border 0.4s;
}
.navbar-avatar img:hover {
    border: 3px solid #51ce00;
}


/*
* Footer
*/
footer {
    margin-top: 20px;
}
footer a {
    color: white;
}


/*
* Custom Styles
*/
.text-border {
    color: white;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}