<div class="chat-container container-fluid h-100">
  <div class="row justify-content-center h-100">
    <div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
      <div class="card-header">
        <div class="input-group">
          <input type="text" placeholder="Search..." name="" class="form-control search">
          <div class="input-group-prepend">
            <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
          </div>
        </div>
      </div>
      <div class="card-body contacts_body">
        <!-- CONTACTS -->
        <ul id="contacts" class="contacts">
          <li class="active" ngFor="user in usersConnected">
            <div class="d-flex bd-highlight">
              <div class="img_cont">
                <img [src]="user.avatar" class="rounded-circle user_img">
                <span class="online_icon"></span>
              </div>
              <div class="user_info">
                <span>{{ user.masterName }}</span>
                <p>{{ user.email }}<br><strong>is online</strong></p>
              </div>
            </div>
          </li>
        </ul>
        <!-- end CONTACTS -->
      </div>
      <div class="card-footer"></div>
    </div></div>
    <div class="col-md-8 col-xl-6 chat">
      <div class="card">
        <div class="card-header msg_head">
          <div class="d-flex bd-highlight">
            <div class="img_cont">
              <img [src]="user.avatar" class="rounded-circle user_img">
              <span class="online_icon"></span>
            </div>
            <div class="user_info">
              <span>Master {{ user.masterName }}</span>
              <p>{{ messages.length }} Messages</p>
            </div>
            <div class="video_cam">
              <!-- <span><i class="fas fa-video"></i></span> -->
              <!-- <span><i class="fas fa-phone"></i></span> -->
            </div>
          </div>
          <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
          <div class="action_menu">
            <ul>
              <li><i class="fas fa-user-circle"></i> View profile</li>
              <li><i class="fas fa-users"></i> Add to close friends</li>
              <li><i class="fas fa-plus"></i> Add to group</li>
              <li><i class="fas fa-ban"></i> Block</li>
            </ul>
          </div>
        </div>
        <div #contentScroll class="card-body msg_card_body">
            <!-- CONTENT -->
            <div *ngFor="let message of messages">
              <div *ngIf="message.user.id===user.id; then send else response"></div>
              <ng-template #send>
                  <div class="justify-content-end message-row d-flex mb-4">
                      <div class="msg_cotainer_send" [innerHTML]="message.content">
                        <span class="msg_time_send">
                          {{ message.date | date:'medium' }}
                        </span>
                      </div>
                      <div class="img_cont_msg">
                      <img src="{{ message.user.avatar }}" class="rounded-circle user_img_msg">
                    </div>
                  </div>
              </ng-template>
              <ng-template #response>
                  <div class="justify-content-start message-row d-flex mb-4">
                      <div class="img_cont_msg">
                          <img src="{{ message.user.avatar }}" class="rounded-circle user_img_msg">
                      </div>
                      <div class="msg_cotainer">
                        <div class="msg_content" [innerHTML]="message.content"></div>
                        <span class="msg_time">
                          <!-- date:'medium' -->
                          {{ message.date | date:'medium' }}
                        </span>
                      </div>
                      <button class="reply-btn" (click)="replyMessage(message)">
                          <i class="fa fa-reply"></i>
                      </button>
                  </div>
              </ng-template>
            </div>

            
            <!-- end CONTENT -->
        </div>
        <!-- INPUT MSG -->
        <div class="card-footer">
          <div class="input-group">
            <div class="input-group-append">
              <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
            </div>
            <textarea #sendMessageInput [(ngModel)]="newMsg" [innerHTML]="newMsg" (keydown)="typeMessage($event)" class="form-control type_msg" placeholder="Type your message..."></textarea>
            <div class="input-group-append">
              <button (click)="sendMessage()" class="input-group-text send_btn">
                <i class="fas fa-location-arrow"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- end INPUT MSG -->
      </div>
    </div>
  </div>
</div>