
.top-viewed {
    text-align: center;
}
.top-viewed h1 {
    margin-bottom: 0.1vh;
}
.top-viewed-container {
    height: 20vh;
    /* border: 3px white solid; */
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 3.5vh;
    margin-bottom: 2.5vh;
}
.slick-slide img {
    max-height: 19vh;
    padding: 0 0.2vw;
    border-radius: 7px;
    cursor: pointer;
}



.title {
    width: 100%;
    text-align: center;
}
