.btn-login{
    float: left;
    margin: 10px 10px;
    border-radius: 3px;
    width: 10%;
    height: 25px;
    color: white;
    background-color: #51ce00;
    text-align: center;
}
.btn-login a {
    color: white;
}


.top-viewed {
    text-align: center;
}
.top-viewed h1 {
    margin-bottom: 0.1vh;
}
.top-viewed-container {
    height: 20vh;
    /* border: 3px white solid; */
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 3.5vh;
    margin-bottom: 2.5vh;
}
.slick-slide img {
    max-height: 19vh;
    padding: 0 0.2vw;
    border-radius: 7px;
    cursor: pointer;
}


.searcher {
    margin: 2vw 0;
}
.search-wrapper {
    text-align: center;
    width: 100%;
}
#q {
    border: 1px solid transparent;
    width: 80%;
    height: 9vh;
    min-height: 30px;
    font-size: 5vh;
    text-indent: 1vw;
    border-radius: 5px;
}
.btn-search {
    background-color: #51ce00;
    border-color: #51ce00;
    height: 9vh;
    min-height: 30px;
}
.btn-search:hover {
    color: #51ce00;
    background-color: #fff;
    border-color: #fff;
}

.title {
    width: 100%;
    text-align: center;
}


.card {
    margin: 2vh 0;
}
.card-body {
    background-color: black;
}