<div class="rating-wrapper">
    <p *ngIf="sending">
        Sending...
    </p>
    <small *ngIf="ratingSended">
        Your rating was sended succesfully. Thanks!
    </small>
    <star-rating [starType]="'svg'" 
        [rating]="value"
        [disabled]="disabled"
        (starClickChange)="onClick($event)"
        (ratingChange)="onRatingChange($event)"
        (hoverRatingChange)="onHoverRatingChange($event)"
        [size]="'medium'"
        [hoverEnabled]="true"
        [labelText]="'Rating now !!!'"
        [labelPosition]="'top'"
        [staticColor]="'ok'">                             
    </star-rating>
</div>