
.wrapper {
    width: 100%;
    height: 100%;
}

.overlay {
    display: flex;
    justify-content: center;
    justify-items: center;
    /* background-color: rgba(255, 255, 255, 0.5); */
}

.spinner-wrapper {
    width: 30%;
}

.spinner {
    margin: auto;
}

.spinner-message {
    text-align: center;
    color: white;
    font-size: 1.1em;
    white-space: pre-wrap;
}
